{
    "url": "https://nodejs.org/en/download/"
}<h1>Please upload a file here</h1>
<form method="POST" action = "/" enctype="multipart/form-data">
<input type = "file" name = "file"/>
<input type = "submit" value="Upload"/>
</form>